table, th, td {
	border: 1px solid black;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

figure {
	float: left;
	padding: 3px;
}

.congrats {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
}

html {
	background: skyblue;
}

body {
	text-align: center;
}